.font-slab {
    font-family: "Roboto Slab", sans-serif;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
}
/* rtl:end:ignore */

/* Featurettes
------------------------- */
.featurette {
    display: flex;
}
.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
    letter-spacing: -0.05rem;
}

/* rtl:end:remove */

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

.list-group-item-action:focus,
.list-group-item-action:hover {
    pointer-events: none !important;
}
.bg-blue {
    background-color: rgba(7, 41, 114, 1);
}
@media (min-width: 375px) {
    .cardImg {
        max-width: 100%;
        height: 3rem;
    }
    .arrowImg {
        max-width: 100%;
        height: 3rem;
    }
    .moneyImg {
        max-width: 100%;
        height: 4rem;
    }
}
@media (min-width: 413px) {
    .cardImg {
        max-width: 100%;
        height: 3rem;
    }
    .arrowImg {
        max-width: 100%;
        height: 3rem;
    }
    .moneyImg {
        max-width: 100%;
        height: 4rem;
    }
}
@media (min-width: 480px) {
    .cardImg {
        max-width: 100%;
        height: 5rem;
    }
    .arrowImg {
        max-width: 100%;
        height: 5rem;
    }
    .moneyImg {
        max-width: 100%;
        height: 7rem;
    }
}
@media (min-width: 576px) {
    .cardImg {
        max-width: 100%;
        height: 5rem;
    }
    .arrowImg {
        max-width: 100%;
        height: 5rem;
    }
    .moneyImg {
        max-width: 100%;
        height: 7rem;
    }
}

@media (min-width: 768px) {
    .cardImg {
        max-width: 100%;
        height: 5rem;
    }
    .arrowImg {
        max-width: 100%;
        height: 5rem;
    }
    .moneyImg {
        max-width: 100%;
        height: 7rem;
    }
}

@media (min-width: 992px) {
    .cardImg {
        max-width: 100%;
        height: 10rem;
    }
    .arrowImg {
        max-width: 100%;
        height: 10rem;
    }
    .moneyImg {
        max-width: 100%;
        height: 12rem;
    }
}

@media (min-width: 1200px) {
    .cardImg {
        max-width: 100%;
        height: 10rem;
    }
    .arrowImg {
        max-width: 100%;
        height: 10rem;
    }
    .moneyImg {
        max-width: 100%;
        height: 12rem;
    }
}

@media (min-width: 1400px) {
    .cardImg {
        max-width: 100%;
        height: 10rem;
    }
    .arrowImg {
        max-width: 100%;
        height: 10rem;
    }
    .moneyImg {
        max-width: 100%;
        height: 12rem;
    }
}
.ctta {
    cursor: default;
}